.label-red {
    background-color: #1e222a;
    border-left: medium solid #e06c75;
    border-radius: 5px;
    padding: 2px 4px 4px 4px;
    margin: 0px 0px 0px 4px;
    font-family: 'Source Code Pro', monospace;
    font-weight: initial;
    font-size: 0.8em;
}

.label-orange {
    background-color: #1e222a;
    border-left: medium solid #e5c07b;
    border-radius: 5px;
    padding: 2px 4px 4px 4px;
    margin: 0px 0px 0px 4px;
    font-family: 'Source Code Pro', monospace;
    font-weight: initial;
    font-size: 0.8em;
}

.label-green {
    background-color: #1e222a;
    border-left: medium solid #98c379;
    border-radius: 5px;
    padding: 2px 4px 4px 4px;
    margin: 0px 0px 0px 4px;
    font-family: 'Source Code Pro', monospace;
    font-weight: initial;
    font-size: 0.8em;
}

.label-blue {
    background-color: #1e222a;
    border-left: medium solid #61afef;
    border-radius: 5px;
    padding: 2px 4px 4px 4px;
    margin: 0px 0px 0px 4px;
    font-family: 'Source Code Pro', monospace;
    font-weight: initial;
    font-size: 0.8em;
}

.label-purple {
    background-color: #1e222a;
    border-left: medium solid #c678dd;
    border-radius: 5px;
    padding: 2px 4px 4px 4px;
    margin: 0px 0px 0px 4px;
    font-family: 'Source Code Pro', monospace;
    font-weight: initial;
    font-size: 0.8em;
}

p.legend {
    line-height: 1.2em;
}
